<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CMDBEntities" connectionString="metadata=res://*/Models.CMDB.csdl|res://*/Models.CMDB.ssdl|res://*/Models.CMDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\13_git\CMDB\CMDB\CMDB\CMDB.mdf;Integrated Security=True;Connect Timeout=30&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CMDB.Properties.Settings.CMDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\13_git\CMDB\CMDB\CMDB\CMDB.mdf;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
    <add name="CMDB.Properties.Settings.AAAA" connectionString="Data Source=(LocalDB)\v11.0;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ログ・ファイル名の先頭部分 -->
      <param name="File" value=".\log\cmdb" />
      <!-- 追加書き込み -->
      <param name="AppendToFile" value="true" />
      <!-- 日付ごとにファイルを作成することを指定 -->
      <param name="RollingStyle" value="date" />
      <!-- ログ・ファイル名が固定ではないので“false”を指定 -->
      <param name="StaticLogFileName" value="false" />
      <!-- ファイル名の日付部分 -->
      <param name="DatePattern" value="&quot;.&quot;yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- ログの書式 -->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <!-- ログのレベルを指定 -->
      <!-- すべてのログ・レベルを出力 -->
      <level value="ALL" />
      <!-- どのログ出力先を使用するか -->
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>